<div class="chat">
  <mat-toolbar class="head">
    <div class="profile">
      <img src="../../../assets/profileimage.png" alt="">
      <p>{{infos?.name}}</p>
    </div>
    <div class="icons">
      <button>
        <mat-icon>search</mat-icon>
      </button>
      <button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="body">
    <mat-card class="messages" *ngFor="let message of messages"
    [ngClass]="{'userMessage': message.user == true, 'profileMessage': message.user == false}">
      {{message.messages}}
    </mat-card>
  </div>
  <div class="foot">
    <img src="../../../assets/emojis.svg" alt="">
    <img src="../../../assets/clip.svg" alt="">
    <input class="input" type="text" placeholder="Digite uma messagem" [(ngModel)]="input" (keyup.enter)="sendMessage()">
    <img src="../../../assets/mic.svg" alt="">
  </div>
</div>
