.chat {
  height: 55rem;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.8%;
  background-color: #f0f2f5;
}

.profile {
  display: flex;
  align-items: center;
}

.profile p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.profile img {
  width: 43px;
  border-radius: 50%;
  margin: 0 12px 0 17px;
}

.body {
  background-image: url(../../../assets/backgroundChat.png);
  height: 85%;
}

.messages {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.messages::-webkit-scrollbar {
  position: absolute;
  width: 6px;
  background-color: transparent;
}

.messages::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #c3c1bc;
}

.message {
  width: 20%;
  padding: 6px 7px 8px 9px;
  margin-top: 20px ;
  border-radius: 7.5px;
  word-wrap: break-word;
  display: inline-block;
}

.tailUser {
  position: absolute;
  right: -7px;
  top: 0;
}

.tailProfiles {
  position: absolute;
  left: -7px;
  top: 0;
}

.messagesOptions {
  position: absolute;
  top: 5px;
  z-index: 800;
  width: 42px;
  height: 27px;
  right: 0;
  visibility: hidden;
  overflow: hidden;
  background: radial-gradient(at top right,rgba(255, 255, 255 ,1) 60%,rgba(255, 255, 255,0) 80%);
  transform: translateX(0px);
}

.messagesOptionsUser {
  background: radial-gradient(at top right,rgba(217, 253, 211 ,1) 60%,rgba(217, 253, 211, 0) 80%);
}

.message:hover .messagesOptions {
  visibility: visible;
  transform: translateX(-5px);
  transition: all .1s ease;
}

.userMessage {
  border-top-right-radius:0 ;
  margin-left: 70%;
  background-color: #d9fdd3;
}

.profileMessage {
  border-top-left-radius:0 ;
  margin-left: 5% ;
}

.messageInfos {
  display: flex;
  align-items: flex-end;
  float: right;
}

.messageInfos mat-icon {
  font-size: 16px;
  height: 15px;
}

.messageInfos p {
  height: 15px;
}

.time {
  font-size: 11px;
  margin: 0;
  color: #667781;
  padding-right: 5px;
}

.check {
  color: #53bdeb;
  font-size: 16px;
  height: 15px;
}

.foot {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f2f5;
}

.input {
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  border-radius: 8px;
  border: none;
  height: 40px;
  padding: 0 20px;
}

.input:focus {
  outline: none;
}

.component {
  width: 46%;
}

