<div class="home">
    <img src="../assets/home.svg" alt="">
    <h1> WhatsApp Web </h1>
    <p class="text">
      Agora você pode enviar e receber mensagens sem precisar manter seu celular conectado à <br>
      internet. <br> Use o Whasapp em até quatro aparelhos conectados a um celular ao mesmo tempo.
    </p>
    <span class="text ">
      <img src="../assets/computer.svg" alt="">
      Make calls from desktop with Whatsapp for windows.
      <a class="link" href="">Baixe aqui.</a>
    </span>
  </div>
