.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f8f9fa;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  }
  
  .home>img {
    width: 238px;
  }
  
  .home>h1 {
    margin: 28px 0;
    font-weight: 300;
    font-size: 32px;
    color: #41525d;
    display: flex;
  }
  
  .home>p {
    width: 600px;
    border-bottom: 1px solid #dadbdc;
    padding-bottom: 35px;
  }
  
  .text {
    color: #667781;
  }
  
  span {
    margin-top: 35px;
  }
  
  span a {
    text-decoration: none;
    color: #008069;
  }