<div class="html">
  <app-sidebar></app-sidebar>
  <div class="home">
    <img src="../assets/home.jpg" alt="">
    <h1>Mantenha seu celular conectado</h1>
    <p class="text">O Whasapp conectado ao celular para sincronizar suas menssagens.
      Para reduziro uso de dados, conecte seu celular a uma rede Wi-Fi
    </p>
    <span class="text ">
      <img src="../assets/computer.svg" alt="">
      Faça chamadas a partir de um computador com o WhatsApp para Windows.
      <a class="link" href="">Baixe <br> aqui.</a>
    </span>
  </div>
</div>
