<div class="archived">
  <div class="head">
    <span>
      <button (click)="close()" class="return">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>Arquivadas</h1>
    </span>
  </div>
  <div class="body">
    <div class="contactsArchived" *ngIf="archived == true">
      <div class="contact" *ngFor="let contact of chats" (click)="findId(contact.name)" (click)="getChat(contact)">
        <img src="../../../assets/profileimage.png" alt="">
        <div class="infos">
          <p>{{contact.name}}</p>
          <p>message</p>
        </div>
        <div class="icons">
          <p>17:00</p>
          <button [mat-menu-trigger-for]="archivedMenu">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="noContact" *ngIf="archived == false">
      <div class="icon">
        <img src="../../../assets/noArchived.svg" alt="">
      </div>
      <p>Nenhuma conversa arquivada</p>
    </div>
  </div>
</div>

<div class="menu">
  <mat-menu #archivedMenu="matMenu">
    <button mat-menu-item (click)="unarchive()">Desaquivar conversa</button>
    <button mat-menu-item (click)="delete()">Apagar conversa</button>
    <button mat-menu-item>Marcar como não lida</button>
  </mat-menu>
</div>