p {
    margin: 0;
}

.sidebar {
    border-right: 1px solid #e5e5e6;
    height: 100%;
}

.head {
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

.icons {
    margin-right: 20px;
}

.icons > img {
    padding: 0 10px;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 7px;
    border-bottom: 1px solid #e5e5e6;
}

.search {
    width: 95%;
    height: 35px;
    background-color: #f0f2f5 ;
    border-radius: 8px; 
    display: flex;
    align-items: center ;
    justify-content: space-around;
}

.search input {
    width: 80%;  
    border: none;
    background-color: #f0f2f5 ;
}

input:focus {
    outline: none;
}

.archived {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 0 20px 20px;
    width: 94% ;
    color: black;
}

.archived a {
    display: flex;
    width: 367px;
}

.archived img{
    width: 25px;
    margin: 0 10px 0 20px;
}

.body {
    height: 48.2rem;
}

.bodyWithArchived {
    height: 44rem;
}

.contacts {
    width: 100%;
    overflow-y: scroll;
}

.contacts::-webkit-scrollbar {
    position: absolute;
    width: 6px;
    background-color: transparent;
}

.contacts::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #cccccc;
}

.contact {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e9edef;
    height: 70px;
}

.contact:hover {
    background-color: #f0f2f5;
}

.contact img {
    width: 50px;
    border-radius: 50%;
    padding: 0 15px 0 13px;
}

.infos > p {
    width: 320px;
}

.infos2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos2 button{
    visibility: hidden;
}

.contact:hover button > mat-icon {
    transition:all 0.25s linear,opacity 0.25s linear;
    transform: translateX(-100);
    visibility: visible;
}


.component {
    width: 100%;
    height: 100%;
}