<div class="sidebar">
    <div class="head">
       <img class="profile" src="../../../assets/profileimage.png" alt="profile">
        <div class="icons">
            <img src="../../../assets/status2.svg" alt="icons">
            <img src="../../../assets/chats.svg" alt="icons">
            <mat-icon>more_vertical</mat-icon>
        </div>
    </div>
    <div class="searchBar">
            <form class="search"> 
                <mat-icon>search</mat-icon>
                <input type="text" placeholder="Pesquisa ou começar uma nova conversa">
            </form>
    </div>
    <div class="contacts">
        <div class="contact">
            <img src="../../../assets/profileimage.png" alt="">
            <div class="infos">
                <p>Name</p>
                <p>Message</p>
            </div>
            <div class="infos2">
                <p>10:00</p>
                <mat-icon>arrow_drop_down</mat-icon>
            </div>
        </div>
    </div>
</div>